
body {
  height: 100%;
  font-family: "Josefin sans";
  margin: 0;
  padding: 0;
}

img {
  border-style: solid;
}
.title {
  margin-top: 20px;
}
.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ecc5e6;
}

.header, footer {
 
  background: #ee9bea;
}

.fa-shopping-cart {
  padding: 0 5px;
}

.footer-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;

}

.footer-item a {
  margin: 20px auto;
}



@media screen and (max-width: 768px) {
  .footer-item {
    grid-template-columns: 1fr;
    margin: 0px auto;
  }
}


/*CSS de l'index */
.ours {
  background-color: #F3E9F1;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.ours .ours-details {
  background-color: white;
  border: solid 2px #797478;
  border-radius: 5px;
  margin: 10px 20px;
  width: 300px;
  color: black;
  text-decoration: none;
}
.ours-details :hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
          box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.ours-details :hover {
  opacity: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ours .ours-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .ours {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ours .ours-details {
    width: 250px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ours .ours-img {
    width: 200px;
    height: 200px;
  }
}

/*CSS du produit */
.ours-product {
  background-color: #f096e2;
  margin: 20px auto;
  border: solid 2px #797478;
  border-radius: 5px;
}
.ours-product .ours-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
.ours-product .ours-button {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}

.link-produit {
  margin: 20px auto;
}
.link-produit a {
  padding: 10px 20px;
  border: solid 2px #797478;
  margin: 0 20px;
  background-color: #EFEFEF;
}
@media screen and (max-width: 768px) {
  .link-produit a {
    display: block;
    margin: 20px auto;
  }
}

/* CSS du panier*/
*, ::after, ::before {
  box-sizing: border-box;
}
.text-center {
  text-align: center !important;
}
.contenu-title {
  margin: 20px 0;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
button, input {
  overflow: visible;
}
input {
  display: inline-block;
  appearance: auto;
  -moz-default-appearance: textfield;
  padding: 1px;
  border: 2px inset ;
  background-color: Field;
  color: FieldText;
  font: -moz-field;
      line-height: normal;
  text-rendering: optimizeLegibility;
  cursor: text;
}
#panier-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background-color: #ec95e1;
  border: solid 2px #797478;
  border-radius: 5px;
  padding-bottom: 20px;
}
#panier-section p {
  margin-top: 20px;
  margin-bottom: 5px;
}
#panier-section .teddy-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}
.navbar-expand-md .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
#panier-section .panier-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-transform: uppercase;
}
#panier-section .panier-recap {
  display: grid;
  grid-template-rows: 70px;
}
#panier-section .panier-detail, #panier-section .panier-color, #panier-section .panier-price {
  margin: auto;
  border-bottom: solid 2px #797478;
}
#panier-section .panier-button {
  margin: auto;
}

.panier-totalPrice {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: dashed 2px #797478;
}
@media screen and (max-width: 768px) {
  #panier-section .teddy-img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  #panier-section .panier-title {
    font-size: 18px;
  }
}
