body {
  height: 100%;
}

header, footer {
  background-color: #F3E9F1;
}

.fa-shopping-cart {
  padding: 0 5px;
}
.footer-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.footer-item a {
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  .footer-item {
    grid-template-columns: 1fr;
    margin: 0px auto;
  }
}

.title {
  margin-top: 20px;
}

/*CSS de la page index */
.ours {
  background-color: #F3E9F1;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .ours {
    grid-template-columns: 1fr;
  }
}
.ours .ours-details {
  background-color: white;
  border: solid 2px #797478;
  border-radius: 5px;
  margin: 10px 20px;
  width: 300px;
  color: black;
  text-decoration: none;
  position: relative;
  
}
.ours-details :hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
          box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.ours-details :hover {
  opacity: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ours .ours-details {
    width: 250px;
  }
}
.ours .ours-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ours .ours-img {
    width: 200px;
    height: 200px;
  }
}
/*CSS de la partie panier*/
.navbar-nav {
  list-style: none;
}
.navbar-nav .nav-link {
  display: block;
  padding-right: .5rem;
  padding-left: .5rem;
  cursor: pointer;
  
}
.nav-link:focus, .nav-link:hover {
  text-decoration: none;

}
.btn, .btn-lg {
  
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  text-decoration: none;

}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.navbar-brand {
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, .show > 
.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.nav__cart {
  position: relative;
  color: #352208;
  font-size: 30px;
}

.nav__cart:hover a {
  color: #613e0f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contenu-title {
  margin: 20px 0;
}
.container .cart-card__recap {
  margin: 10px 0 10px 10px;
  width: 90%;
  background: #dee9f7;
}
.container .cart-card {
  overflow: hidden;
  margin: 50px 15px;
  display: none;
  width: 600px;
  background: #dee9f7;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
          box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
}

.container .cart-card .cart {
  margin-left: 10px;
}
.container .if-empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 90vh;
}

.container .if-empty-cart h2 {
  margin-top: 75px;
}

.container .if-empty-cart h2 a {
  color: black;
  text-decoration: underline;
}

.container .total {
  margin-bottom: 0;
}
.container .cart-card__recap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

}

.width-to-empty-cart .to-empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.width-to-empty-cart .to-empty-cart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container .cart-card__recap .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 19px;
  text-decoration: underline;
}

.container .cart-card__recap__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 120px;
  height: 30px;
  font-weight: bold;
}

.container .cart-card__recap__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 120px;
  margin: 2px 0;
  height: 30px;
}

.container .cart-card__recap__data .fa-trash:hover {
  cursor: pointer;
  opacity: 0.7;
  font-size: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .cart-card__recap .cart-card__form__button {
  margin: 5px 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #352208;
}

#panier-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background-color: #F3E9F1;
  border: solid 2px #797478;
  border-radius: 5px;
  padding-bottom: 20px;
}
#panier-section p {
  margin-top: 20px;
  margin-bottom: 5px;
}
#panier-section .teddy-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #panier-section .teddy-img {
    width: 60px;
    height: 60px;
  }
}
#panier-section .panier-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #panier-section .panier-title {
    font-size: 18px;
  }
}
#panier-section .panier-recap {
  display: grid;
  grid-template-rows: 70px;
}
#panier-section .panier-detail, #panier-section .panier-color, #panier-section .panier-price {
  margin: auto;
  border-bottom: solid 2px #797478;
}
#panier-section .panier-button {
  margin: auto;
}

.panier-totalPrice {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: dashed 2px #797478;
}

/* CSS de la partie Confirmation */
.formulaire-title {
  margin: 20px 0;
}

.formulaire {
  display: grid;
  grid-template-columns: 130px 210px 100px;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .formulaire {
    grid-template-columns: 90px 170px 80px;
    
  }
}
.formulaire .formulaire-input {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .formulaire .formulaire-input {
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .formulaire .formulaire-info {
    width: 80px;
  }
}
.formulaire .formulaire-command {
  border: solid 2px #8F5BFC;
  border-radius: 20px;
  background-color: #8F5BFC;
  color: #fff;
  width: 130px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 140px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .formulaire .formulaire-command {
    margin-left: 100px;
  }
}

input:invalid {
  border: solid 2px red;
}

input:valid {
  border: solid 2px green;
}

@media screen and (max-width: 768px) {
  .col-12 {
    padding: 0;
  }
}
.confirmation-title {
  margin: 30px auto;
}

.confirmation-detail {
  background-color: #F3E9F1;
  margin: 20px 0;
  width: 100%;
  font-size: 22px;
  padding: 20px 20px;
}
.confirmation-detail .home-button {
  display: block;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  padding: 5px 10px;
}

.col-12 {
  padding: 0 0;
  max-width: 100%;
}